$color_1: var(--default-color);
$color_2: var(--accent-color);
$color_3: color-mix(in srgb, var(--accent-color), transparent 25%);
$color_4: var(--heading-color);
$color_5: #ffffff;
$color_6: var(--contrast-color);
$color_7: var(--nav-color);
$color_8: var(--nav-hover-color);
$color_9: var(--nav-dropdown-color);
$color_10: var(--nav-dropdown-hover-color);
$color_11: #fff;
$color_12: color-mix(in srgb, var(--default-color), transparent 50%);
$color_13: color-mix(in srgb, var(--default-color), transparent 20%);
$color_14: color-mix(in srgb, var(--default-color), transparent 70%);
$color_15: color-mix(in srgb, var(--default-color), transparent 40%);
$color_16: color-mix(in srgb, var(--default-color), transparent 30%);
$color_17: var(--background-color);
$color_18: #059652;
$color_19: #ffc107;
$color_20: color-mix(in srgb, var(--accent-color), transparent 60%);
$color_21: rgba(255, 255, 255, 0.8);
$color_22: #6c757d;
$color_23: color-mix(in srgb, var(--accent-color), transparent 50%);
$color_24: color-mix(in srgb, var(--default-color), transparent 60%);
$font-family_1: var(--default-font);
$font-family_2: var(--heading-font);
$font-family_3: var(--nav-font);
$background-color_1: var(--background-color);
$background-color_2: var(--nav-mobile-background-color);
$background-color_3: color-mix(in srgb, var(--accent-color), transparent 90%);
$background-color_4: var(--accent-color);
$background-color_5: var(--nav-dropdown-background-color);
$background-color_6: rgba(33, 37, 41, 0.1);
$background-color_7: rgba(33, 37, 41, 0.03);
$background-color_8: color-mix(in srgb, var(--default-color), transparent 95%);
$background-color_9: color-mix(in srgb, var(--accent-color), transparent 20%);
$background-color_10: transparent;
$background-color_11: color-mix(in srgb, var(--accent-color), transparent 10%);
$background-color_12: var(--surface-color);
$background-color_13: color-mix(in srgb, var(--accent-color), transparent 95%);
$background-color_14: rgba(0, 0, 0, 0.6);
$background-color_15: color-mix(in srgb, var(--default-color), transparent 85%);
$background-color_16: color-mix(in srgb, var(--background-color), transparent 50%);
$background-color_17: rgba(0, 0, 0, 0.15);
$background-color_18: rgba(0, 0, 0, 0.3);
$background-color_19: color-mix(in srgb, var(--default-color), transparent 96%);
$border-color_1: var(--accent-color);
$border-color_2: var(--accent-color) transparent var(--accent-color) transparent;
$border-color_3: color-mix(in srgb, var(--default-color), transparent 80%);
$border-top-color_1: var(--surface-color);

:root {
	--default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--heading-font: "Montserrat", sans-serif;
	--nav-font: "Poppins", sans-serif;
	--background-color: #ffffff;
	--default-color: #212529;
	--heading-color: #32353a;
	--accent-color: #4599e8;
	--surface-color: #ffffff;
	--contrast-color: #ffffff;
	--nav-color: #3a3939;
	--nav-hover-color: #4599e8;
	--nav-mobile-background-color: #ffffff;
	--nav-dropdown-background-color: #ffffff;
	--nav-dropdown-color: #3a3939;
	--nav-dropdown-hover-color: #4599e8;
	--span-color:#567ce6;
	scroll-behavior: smooth;
}